[Unit]
Description=Enable swap on LVM swap partition
After=dev-mapper-store\x2dswap.device
Requires=dev-mapper-store\x2dswap.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/swapon /dev/mapper/store-swap

[Install]
WantedBy=multi-user.target
