[Unit]
Description=Load the ath6kl WiFi kernel module
After=android-system.service
Requires=android-system.service

[Service]
Type=oneshot
ExecStart=/sbin/modprobe ath6kl

[Install]
WantedBy=basic.target
