[Unit]
Description=Stop GPS on boot and shutdown on GTA04
After=gpsd.target

[Service]
ExecStart=/usr/bin/gps_handler.py stop
ExecStop=/usr/bin/gps_handler.py stop

[Install]
WantedBy=basic.target
