# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on init
# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export ANDROID_STORAGE /storage
    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb

on boot
    class_start core
    class_start main
    class_start finish

service servicemanager /system/bin/servicemanager
    class core
    user root
    critical
    onrestart restart media
    onrestart restart drm

service debuggerd /system/bin/debuggerd
    class main

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root root
    socket rild-debug stream 660 radio root
    user root

service drm /system/bin/drmserver
    class main
    user root

service media /system/bin/mediaserver
    class main
    user root
    ioprio rt 4

service finished /sbin/initctl emit android-finished
    class finish
    user root
    oneshot
