[Unit]
Description=Run hciattach when HCI device becomes available
Requires=bluetooth.service
Before=bluetooth.service
After=android-system.service 

[Service]
Type=oneshot
ExecStart=/usr/bin/hciattach.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service luna-next.service
