[Unit]
Description=Set up rndis interface on samsung devices

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/rndissetup.sh

[Install]
WantedBy=basic.target
