[Unit]
Description=Android System Filesystems requirements
Before=android-system.service
After=system.mount persist.mount firmware.mount
Requires=system.mount persist.mount firmware.mount

[Install]
RequiredBy=android-system.service
