[Unit]
Description=Android System Container

[Service]
Type=simple
ExecStart=/usr/bin/lxc-start -n android -l DEBUG -- /init
ExecStartPost=/usr/bin/wait-for-android.sh
ExecStop=/usr/bin/lxc-stop -n android -k
# Never kill the android system when we're on low memory
OOMScoreAdjust=-1000

[Install]
WantedBy=basic.target
