[Unit]
Description=Phonefsod is the GSM resource handling daemon of SHR
After=dbus.socket fsodeviced.service

[Service]
Type=dbus
BusName=org.shr.phonefso
ExecStart=/usr/bin/phonefsod -d 1

[Install]
WantedBy=basic.target
